<h2>Overview of Forex</h2>
<hr />
<table class="table table-bordered" style="width:400px;margin:auto">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Dollar Ratio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rate in rates" ng-class="{'btn-success' : rate.success ,'btn-danger' : rate.failed}">
            <td>{{ rate.Code }}</td>
            <td>{{ rate.Ratio }}</td>
            <td><input type="text" ng-model="orderAmount"></td>
            <td><button class="btn btn-xs btn-success" ng-click="order(orderAmount,rate)">Buy</button></td>
        </tr>
    </tbody>
</table>
