<h2>Overview of Forex</h2>
<hr />
<table class="table table-bordered" style="width:400px;margin:auto">
    <thead>
        <tr>
            <th>Currency</th>
            <th>Dollar Ratio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key, value) in rates">
            <td>{{ key }}</td>
            <td>{{ value }}</td>
            <td><input type="text" ng-model="orderAmount"></td>
            <td><button class="btn btn-xs btn-success" ng-click="order(orderAmount,key)">Buy</button></td>
        </tr>
    </tbody>
</table>
