<h2>Overview of Forex</h2>
<hr />
<table class="table" style="width:400px;margin:auto">
  <thead>
    <tr>
      <th>Currency</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AFN</td>
      <td>{{forex.rates.AFN}}</td>
    </tr>
    <tr>
      <td>ALL</td>
      <td>{{forex.rates.ALL}}</td>
    </tr>
    <tr>
      <td>AMD</td>
      <td>{{forex.rates.AMD}}</td>
    </tr>
    <tr>
      <td>ANG</td>
      <td>{{forex.rates.ANG}}</td>
    </tr>
    <tr>
      <td>AOA</td>
      <td>{{forex.rates.AOA}}</td>
    </tr>
    <tr>
      <td>ARS</td>
      <td>{{forex.rates.ARS}}</td>
    </tr>
    <tr>
      <td>AUD</td>
      <td>{{forex.rates.AUD}}</td>
    </tr>
    <tr>
      <td>AWG</td>
      <td>{{forex.rates.AWG}}</td>
    </tr>
    <tr>
      <td>AZN</td>
      <td>{{forex.rates.AZN}}</td>
    </tr>
    <tr>
      <td>BAM</td>
      <td>{{forex.rates.BAM}}</td>
    </tr>
    <tr>
      <td>BBD</td>
      <td>{{forex.rates.BBD}}</td>
    </tr>
    <tr>
      <td>BDT</td>
      <td>{{forex.rates.BDT}}</td>
    </tr>
    <tr>
      <td>BGN</td>
      <td>{{forex.rates.BGN}}</td>
    </tr>
    <tr>
      <td>BHD</td>
      <td>{{forex.rates.BHD}}</td>
    </tr>
    <tr>
      <td>BIF</td>
      <td>{{forex.rates.BIF}}</td>
    </tr>
    <tr>
      <td>BMD</td>
      <td>{{forex.rates.BMD}}</td>
    </tr>
    <tr>
      <td>BND</td>
      <td>{{forex.rates.BND}}</td>
    </tr>
    <tr>
      <td>BOB</td>
      <td>{{forex.rates.BOB}}</td>
    </tr>
    <tr>
      <td>BRL</td>
      <td>{{forex.rates.BRL}}</td>
    </tr>
    <tr>
      <td>BSD</td>
      <td>{{forex.rates.BSD}}</td>
    </tr>
    <tr>
      <td>BTC</td>
      <td>{{forex.rates.BTC}}</td>
    </tr>
    <tr>
      <td>BTN</td>
      <td>{{forex.rates.BTN}}</td>
    </tr>
    <tr>
      <td>BWP</td>
      <td>{{forex.rates.BWP}}</td>
    </tr>
    <tr>
      <td>BYR</td>
      <td>{{forex.rates.BYR}}</td>
    </tr>
    <tr>
      <td>BZD</td>
      <td>{{forex.rates.BZD}}</td>
    </tr>
    <tr>
      <td>CAD</td>
      <td>{{forex.rates.CAD}}</td>
    </tr>
    <tr>
      <td>CDF</td>
      <td>{{forex.rates.CDF}}</td>
    </tr>
    <tr>
      <td>CHF</td>
      <td>{{forex.rates.CHF}}</td>
    </tr>
    <tr>
      <td>CLF</td>
      <td>{{forex.rates.CLF}}</td>
    </tr>
    <tr>
      <td>CLP</td>
      <td>{{forex.rates.CLP}}</td>
    </tr>
    <tr>
      <td>CNY</td>
      <td>{{forex.rates.CNY}}</td>
    </tr>
    <tr>
      <td>COP</td>
      <td>{{forex.rates.COP}}</td>
    </tr>
    <tr>
      <td>CRC</td>
      <td>{{forex.rates.CRC}}</td>
    </tr>
    <tr>
      <td>CUC</td>
      <td>{{forex.rates.CUC}}</td>
    </tr>
    <tr>
      <td>CUP</td>
      <td>{{forex.rates.CUP}}</td>
    </tr>
    <tr>
      <td>CVE</td>
      <td>{{forex.rates.CVE}}</td>
    </tr>
    <tr>
      <td>CZK</td>
      <td>{{forex.rates.CZK}}</td>
    </tr>
    <tr>
      <td>DJF</td>
      <td>{{forex.rates.DJF}}</td>
    </tr>
    <tr>
      <td>DKK</td>
      <td>{{forex.rates.DKK}}</td>
    </tr>
    <tr>
      <td>DOP</td>
      <td>{{forex.rates.DOP}}</td>
    </tr>
    <tr>
      <td>DZD</td>
      <td>{{forex.rates.DZD}}</td>
    </tr>
    <tr>
      <td>EEK</td>
      <td>{{forex.rates.EEK}}</td>
    </tr>
    <tr>
      <td>EGP</td>
      <td>{{forex.rates.EGP}}</td>
    </tr>
    <tr>
      <td>ERN</td>
      <td>{{forex.rates.ERN}}</td>
    </tr>
    <tr>
      <td>ETB</td>
      <td>{{forex.rates.ETB}}</td>
    </tr>
    <tr>
      <td>EUR</td>
      <td>{{forex.rates.EUR}}</td>
    </tr>
    <tr>
      <td>FJD</td>
      <td>{{forex.rates.FJD}}</td>
    </tr>
    <tr>
      <td>FKP</td>
      <td>{{forex.rates.FKP}}</td>
    </tr>
    <tr>
      <td>GBP</td>
      <td>{{forex.rates.GBP}}</td>
    </tr>
    <tr>
      <td>GEL</td>
      <td>{{forex.rates.GEL}}</td>
    </tr>
    <tr>
      <td>GGP</td>
      <td>{{forex.rates.GGP}}</td>
    </tr>
    <tr>
      <td>GHS</td>
      <td>{{forex.rates.GHS}}</td>
    </tr>
    <tr>
      <td>GIP</td>
      <td>{{forex.rates.GIP}}</td>
    </tr>
    <tr>
      <td>GMD</td>
      <td>{{forex.rates.GMD}}</td>
    </tr>
    <tr>
      <td>GNF</td>
      <td>{{forex.rates.GNF}}</td>
    </tr>
    <tr>
      <td>GTQ</td>
      <td>{{forex.rates.GTQ}}</td>
    </tr>
    <tr>
      <td>GYD</td>
      <td>{{forex.rates.GYD}}</td>
    </tr>
    <tr>
      <td>HKD</td>
      <td>{{forex.rates.HKD}}</td>
    </tr>
    <tr>
      <td>HNL</td>
      <td>{{forex.rates.HNL}}</td>
    </tr>
    <tr>
      <td>HRK</td>
      <td>{{forex.rates.HRK}}</td>
    </tr>
    <tr>
      <td>HTG</td>
      <td>{{forex.rates.HTG}}</td>
    </tr>
    <tr>
      <td>HUF</td>
      <td>{{forex.rates.HUF}}</td>
    </tr>
    <tr>
      <td>IDR</td>
      <td>{{forex.rates.IDR}}</td>
    </tr>
    <tr>
      <td>ILS</td>
      <td>{{forex.rates.ILS}}</td>
    </tr>
    <tr>
      <td>IMP</td>
      <td>{{forex.rates.IMP}}</td>
    </tr>
    <tr>
      <td>INR</td>
      <td>{{forex.rates.INR}}</td>
    </tr>
    <tr>
      <td>IQD</td>
      <td>{{forex.rates.IQD}}</td>
    </tr>
    <tr>
      <td>IRR</td>
      <td>{{forex.rates.IRR}}</td>
    </tr>
    <tr>
      <td>ISK</td>
      <td>{{forex.rates.ISK}}</td>
    </tr>
    <tr>
      <td>JEP</td>
      <td>{{forex.rates.JEP}}</td>
    </tr>
    <tr>
      <td>JMD</td>
      <td>{{forex.rates.JMD}}</td>
    </tr>
    <tr>
      <td>JOD</td>
      <td>{{forex.rates.JOD}}</td>
    </tr>
    <tr>
      <td>JPY</td>
      <td>{{forex.rates.JPY}}</td>
    </tr>
    <tr>
      <td>KES</td>
      <td>{{forex.rates.KES}}</td>
    </tr>
    <tr>
      <td>KGS</td>
      <td>{{forex.rates.KGS}}</td>
    </tr>
    <tr>
      <td>KHR</td>
      <td>{{forex.rates.KHR}}</td>
    </tr>
    <tr>
      <td>KMF</td>
      <td>{{forex.rates.KMF}}</td>
    </tr>
    <tr>
      <td>KPW</td>
      <td>{{forex.rates.KPW}}</td>
    </tr>
    <tr>
      <td>KRW</td>
      <td>{{forex.rates.KRW}}</td>
    </tr>
    <tr>
      <td>KWD</td>
      <td>{{forex.rates.KWD}}</td>
    </tr>
    <tr>
      <td>KYD</td>
      <td>{{forex.rates.KYD}}</td>
    </tr>
    <tr>
      <td>KZT</td>
      <td>{{forex.rates.KZT}}</td>
    </tr>
    <tr>
      <td>LAK</td>
      <td>{{forex.rates.LAK}}</td>
    </tr>
    <tr>
      <td>LBP</td>
      <td>{{forex.rates.LBP}}</td>
    </tr>
    <tr>
      <td>LKR</td>
      <td>{{forex.rates.LKR}}</td>
    </tr>
    <tr>
      <td>LRD</td>
      <td>{{forex.rates.LRD}}</td>
    </tr>
    <tr>
      <td>LSL</td>
      <td>{{forex.rates.LSL}}</td>
    </tr>
    <tr>
      <td>LTL</td>
      <td>{{forex.rates.LTL}}</td>
    </tr>
    <tr>
      <td>LVL</td>
      <td>{{forex.rates.LVL}}</td>
    </tr>
    <tr>
      <td>LYD</td>
      <td>{{forex.rates.LYD}}</td>
    </tr>
    <tr>
      <td>MAD</td>
      <td>{{forex.rates.MAD}}</td>
    </tr>
    <tr>
      <td>MDL</td>
      <td>{{forex.rates.MDL}}</td>
    </tr>
    <tr>
      <td>MGA</td>
      <td>{{forex.rates.MGA}}</td>
    </tr>
    <tr>
      <td>MKD</td>
      <td>{{forex.rates.MKD}}</td>
    </tr>
    <tr>
      <td>MMK</td>
      <td>{{forex.rates.MMK}}</td>
    </tr>
    <tr>
      <td>MNT</td>
      <td>{{forex.rates.MNT}}</td>
    </tr>
    <tr>
      <td>MOP</td>
      <td>{{forex.rates.MOP}}</td>
    </tr>
    <tr>
      <td>MRO</td>
      <td>{{forex.rates.MRO}}</td>
    </tr>
    <tr>
      <td>MTL</td>
      <td>{{forex.rates.MTL}}</td>
    </tr>
    <tr>
      <td>MUR</td>
      <td>{{forex.rates.MUR}}</td>
    </tr>
    <tr>
      <td>MVR</td>
      <td>{{forex.rates.MVR}}</td>
    </tr>
    <tr>
      <td>MWK</td>
      <td>{{forex.rates.MWK}}</td>
    </tr>
    <tr>
      <td>MXN</td>
      <td>{{forex.rates.MXN}}</td>
    </tr>
    <tr>
      <td>MYR</td>
      <td>{{forex.rates.MYR}}</td>
    </tr>
    <tr>
      <td>MZN</td>
      <td>{{forex.rates.MZN}}</td>
    </tr>
    <tr>
      <td>NAD</td>
      <td>{{forex.rates.NAD}}</td>
    </tr>
    <tr>
      <td>NGN</td>
      <td>{{forex.rates.NGN}}</td>
    </tr>
    <tr>
      <td>NIO</td>
      <td>{{forex.rates.NIO}}</td>
    </tr>
    <tr>
      <td>NOK</td>
      <td>{{forex.rates.NOK}}</td>
    </tr>
    <tr>
      <td>NPR</td>
      <td>{{forex.rates.NPR}}</td>
    </tr>
    <tr>
      <td>NZD</td>
      <td>{{forex.rates.NZD}}</td>
    </tr>
    <tr>
      <td>OMR</td>
      <td>{{forex.rates.OMR}}</td>
    </tr>
    <tr>
      <td>PAB</td>
      <td>{{forex.rates.PAB}}</td>
    </tr>
    <tr>
      <td>PEN</td>
      <td>{{forex.rates.PEN}}</td>
    </tr>
    <tr>
      <td>PGK</td>
      <td>{{forex.rates.PGK}}</td>
    </tr>
    <tr>
      <td>PHP</td>
      <td>{{forex.rates.PHP}}</td>
    </tr>
    <tr>
      <td>PKR</td>
      <td>{{forex.rates.PKR}}</td>
    </tr>
    <tr>
      <td>PLN</td>
      <td>{{forex.rates.PLN}}</td>
    </tr>
    <tr>
      <td>PYG</td>
      <td>{{forex.rates.PYG}}</td>
    </tr>
    <tr>
      <td>QAR</td>
      <td>{{forex.rates.QAR}}</td>
    </tr>
    <tr>
      <td>RON</td>
      <td>{{forex.rates.RON}}</td>
    </tr>
    <tr>
      <td>RSD</td>
      <td>{{forex.rates.RSD}}</td>
    </tr>
    <tr>
      <td>RUB</td>
      <td>{{forex.rates.RUB}}</td>
    </tr>
    <tr>
      <td>RWF</td>
      <td>{{forex.rates.RWF}}</td>
    </tr>
    <tr>
      <td>SAR</td>
      <td>{{forex.rates.SAR}}</td>
    </tr>
    <tr>
      <td>SBD</td>
      <td>{{forex.rates.SBD}}</td>
    </tr>
    <tr>
      <td>SCR</td>
      <td>{{forex.rates.SCR}}</td>
    </tr>
    <tr>
      <td>SDG</td>
      <td>{{forex.rates.SDG}}</td>
    </tr>
    <tr>
      <td>SEK</td>
      <td>{{forex.rates.SEK}}</td>
    </tr>
    <tr>
      <td>SGD</td>
      <td>{{forex.rates.SGD}}</td>
    </tr>
    <tr>
      <td>SHP</td>
      <td>{{forex.rates.SHP}}</td>
    </tr>
    <tr>
      <td>SLL</td>
      <td>{{forex.rates.SLL}}</td>
    </tr>
    <tr>
      <td>SOS</td>
      <td>{{forex.rates.SOS}}</td>
    </tr>
    <tr>
      <td>SRD</td>
      <td>{{forex.rates.SRD}}</td>
    </tr>
    <tr>
      <td>STD</td>
      <td>{{forex.rates.STD}}</td>
    </tr>
    <tr>
      <td>SVC</td>
      <td>{{forex.rates.SVC}}</td>
    </tr>
    <tr>
      <td>SYP</td>
      <td>{{forex.rates.SYP}}</td>
    </tr>
    <tr>
      <td>SZL</td>
      <td>{{forex.rates.SZL}}</td>
    </tr>
    <tr>
      <td>THB</td>
      <td>{{forex.rates.THB}}</td>
    </tr>
    <tr>
      <td>TJS</td>
      <td>{{forex.rates.TJS}}</td>
    </tr>
    <tr>
      <td>TMT</td>
      <td>{{forex.rates.TMT}}</td>
    </tr>
    <tr>
      <td>TND</td>
      <td>{{forex.rates.TND}}</td>
    </tr>
    <tr>
      <td>TOP</td>
      <td>{{forex.rates.TOP}}</td>
    </tr>
    <tr>
      <td>TRY</td>
      <td>{{forex.rates.TRY}}</td>
    </tr>
    <tr>
      <td>TTD</td>
      <td>{{forex.rates.TTD}}</td>
    </tr>
    <tr>
      <td>TWD</td>
      <td>{{forex.rates.TWD}}</td>
    </tr>
    <tr>
      <td>TZS</td>
      <td>{{forex.rates.TZS}}</td>
    </tr>
    <tr>
      <td>UAH</td>
      <td>{{forex.rates.UAH}}</td>
    </tr>
    <tr>
      <td>UGX</td>
      <td>{{forex.rates.UGX}}</td>
    </tr>
    <tr>
      <td>USD</td>
      <td>{{forex.rates.USD}}</td>
    </tr>
    <tr>
      <td>UYU</td>
      <td>{{forex.rates.UYU}}</td>
    </tr>
    <tr>
      <td>UZS</td>
      <td>{{forex.rates.UZS}}</td>
    </tr>
    <tr>
      <td>VEF</td>
      <td>{{forex.rates.VEF}}</td>
    </tr>
    <tr>
      <td>VND</td>
      <td>{{forex.rates.VND}}</td>
    </tr>
    <tr>
      <td>VUV</td>
      <td>{{forex.rates.VUV}}</td>
    </tr>
    <tr>
      <td>WST</td>
      <td>{{forex.rates.WST}}</td>
    </tr>
    <tr>
      <td>XAF</td>
      <td>{{forex.rates.XAF}}</td>
    </tr>
    <tr>
      <td>XAG</td>
      <td>{{forex.rates.XAG}}</td>
    </tr>
    <tr>
      <td>XAU</td>
      <td>{{forex.rates.XAU}}</td>
    </tr>
    <tr>
      <td>XCD</td>
      <td>{{forex.rates.XCD}}</td>
    </tr>
    <tr>
      <td>XDR</td>
      <td>{{forex.rates.XDR}}</td>
    </tr>
    <tr>
      <td>XOF</td>
      <td>{{forex.rates.XOF}}</td>
    </tr>
    <tr>
      <td>XPD</td>
      <td>{{forex.rates.XPD}}</td>
    </tr>
    <tr>
      <td>XPF</td>
      <td>{{forex.rates.XPF}}</td>
    </tr>
    <tr>
      <td>XPT</td>
      <td>{{forex.rates.XPT}}</td>
    </tr>
    <tr>
      <td>YER</td>
      <td>{{forex.rates.YER}}</td>
    </tr>
    <tr>
      <td>ZAR</td>
      <td>{{forex.rates.ZAR}}</td>
    </tr>
    <tr>
      <td>ZMK</td>
      <td>{{forex.rates.ZMK}}</td>
    </tr>
    <tr>
      <td>ZMW</td>
      <td>{{forex.rates.ZMW}}</td>
    </tr>
    <tr>
      <td>ZWL</td>
      <td>{{forex.rates.ZWL}}</td>
    </tr>
  </tbody>
</table>
